# Mac 
*.DS_Store

# IDEs
.alm
.vscode


# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# Rust build artifacts
*/target/



# Cabal build artifacts
*/dist-newstyle/

# Ignore lock file as requested (usually committed for applications)
/Cargo.lock 

# Haskell temporary/editor files
*.o
*.hi
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.ghc.environment.*
.hie/ 